@{
    ViewData["Title"] = "About Us";
}

<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content">
            <!--begin::About card-->
            <div class="card">
                <!--begin::Body-->
                <div class="card-body p-lg-17">
                    <!--begin::About-->
                    <div class="mb-18">
                        <!--begin::Wrapper-->
                        <div class="mb-10">
                            <!--begin::Top-->
                            <div class="text-center mb-15">
                                <!--begin::Title-->
                                <h3 class="fs-2hx text-gray-900 mb-5">About Us</h3>
                                <!--end::Title-->
                                <!--begin::Text-->
                                <div class="fs-5 text-muted fw-semibold">
                                    Within the last 10 years, we have sold over 100,000 admin theme copies that have been
                                    <br />successfully deployed by small businesses to global enterprises
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Top-->
                            <!--begin::Overlay-->
                            <div class="overlay">
                                <!--begin::Image-->
                                <img class="w-100 card-rounded" src="~/assets/media/stock/1600x800/img-1.jpg" alt="" />
                                <!--end::Image-->
                                <!--begin::Links-->
                                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                    <a href="#" class="btn btn-primary">Pricing</a>
                                    <a href="#" class="btn btn-light-primary ms-3">Join Us</a>
                                </div>
                                <!--end::Links-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Description-->
                        <div class="fs-5 fw-semibold text-gray-600">
                            <!--begin::Text-->
                            <p class="mb-8">
                                First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words per minute and your writing skills are sharp. From the seed of the idea to finally hitting "Publish," you might spend several days or maybe even a week "writing" a blog post, but it's important to spend those vital hours planning your post and even thinking about
                                <a href="#" class="link-primary pe-1">Your Post</a>(yes, thinking counts as working if you're a blogger) before you actually write it.
                            </p>
                            <!--end::Text-->
                            <!--begin::Text-->
                            <p class="mb-8">
                                There's an old maxim that states,
                                <span class="text-gray-800 pe-1">"No fun for the writer, no fun for the reader."</span>No matter what industry you're working in, as a blogger, you should live and die by this statement.
                            </p>
                            <!--end::Text-->
                        </div>
                        <!--end::Description-->
                    </div>
                    <!--end::About-->
                    <!--begin::Statistics-->
                    <div class="card bg-light mb-18">
                        <!--begin::Body-->
                        <div class="card-body py-15">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-center">
                                <!--begin::Items-->
                                <div class="d-flex flex-center flex-wrap mb-10 mx-auto gap-5 w-xl-900px">
                                    <!--begin::Item-->
                                    <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-lg-10">
                                        <!--begin::Content-->
                                        <div class="text-center">
                                            <!--begin::Symbol-->
                                            <i class="ki-outline ki-element-11 fs-2tx text-primary"></i>
                                            <!--end::Symbol-->
                                            <!--begin::Text-->
                                            <div class="mt-1">
                                                <!--begin::Animation-->
                                                <div class="fs-lg-2hx fs-2x fw-bold text-gray-800 d-flex align-items-center">
                                                    <div class="min-w-70px" data-kt-countup="true" data-kt-countup-value="700">0</div>+
                                                </div>
                                                <!--end::Animation-->
                                                <!--begin::Label-->
                                                <span class="text-gray-600 fw-semibold fs-5 lh-0">Businesses</span>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-lg-10">
                                        <!--begin::Content-->
                                        <div class="text-center">
                                            <!--begin::Symbol-->
                                            <i class="ki-outline ki-chart-pie-4 fs-2tx text-success"></i>
                                            <!--end::Symbol-->
                                            <!--begin::Text-->
                                            <div class="mt-1">
                                                <!--begin::Animation-->
                                                <div class="fs-lg-2hx fs-2x fw-bold text-gray-800 d-flex align-items-center">
                                                    <div class="min-w-50px" data-kt-countup="true" data-kt-countup-value="80">0</div>K+
                                                </div>
                                                <!--end::Animation-->
                                                <!--begin::Label-->
                                                <span class="text-gray-600 fw-semibold fs-5 lh-0">Quick Reports</span>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Item-->
                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Testimonial-->
                            <div class="fs-2 fw-semibold text-muted text-center mb-3">
                                <span class="fs-1 lh-1 text-gray-700">"</span>When you care about your topic, you'll write about it in a
                                <br />
                                <span class="text-gray-700 me-1">more powerful</span>, emotionally expressive way
                                <span class="fs-1 lh-1 text-gray-700">"</span>
                            </div>
                            <!--end::Testimonial-->
                            <!--begin::Author-->
                            <div class="fs-2 fw-semibold text-muted text-center">
                                <a href="account/security.html" class="link-primary fs-4 fw-bold">Marcus Levy</a>
                                <span class="fs-4 fw-bold text-gray-600">, KeenThemes CEO</span>
                            </div>
                            <!--end::Author-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics-->
                    <!--begin::Team-->
                    <div class="mb-18">
                        <!--begin::Heading-->
                        <div class="text-center mb-12">
                            <!--begin::Title-->
                            <h3 class="fs-2hx text-gray-900 mb-5">Our Great Team</h3>
                            <!--end::Title-->
                            <!--begin::Sub-title-->
                            <div class="fs-5 text-muted fw-semibold">
                                It's no doubt that when a development takes longer to complete, additional costs to
                                <br />integrate and test each extra feature creeps up and haunts most of us.
                            </div>
                            <!--end::Sub-title=-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Slider-->
                        <div class="tns tns-default mb-10">
                            <!--begin::Wrapper-->
                            <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev" data-tns-next-button="#kt_team_slider_next" data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}">
                                <!--begin::Item-->
                                <div class="text-center">
                                    <!--begin::Photo-->
                                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" 
                                    style="background-image:url('@Url.Content("~/assets/media/avatars/300-1.jpg")')"></div>
                                    <!--end::Photo-->
                                    <!--begin::Person-->
                                    <div class="mb-0">
                                        <!--begin::Name-->
                                        <a href="#" class="text-gray-900 fw-bold text-hover-primary fs-3">Paul Miles</a>
                                        <!--end::Name-->
                                        <!--begin::Position-->
                                        <div class="text-muted fs-6 fw-semibold mt-1">Development Lead</div>
                                        <!--begin::Position-->
                                    </div>
                                    <!--end::Person-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="text-center">
                                    <!--begin::Photo-->
                                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" 
                                    style="background-image:url('@Url.Content("~/assets/media/avatars/300-2.jpg")')"></div>
                                    <!--end::Photo-->
                                    <!--begin::Person-->
                                    <div class="mb-0">
                                        <!--begin::Name-->
                                        <a href="#" class="text-gray-900 fw-bold text-hover-primary fs-3">Melisa Marcus</a>
                                        <!--end::Name-->
                                        <!--begin::Position-->
                                        <div class="text-muted fs-6 fw-semibold mt-1">Creative Director</div>
                                        <!--begin::Position-->
                                    </div>
                                    <!--end::Person-->
                                </div>
                                <!--end::Item-->
                                  <!--begin::Item-->
                                <div class="text-center">
                                    <!--begin::Photo-->
                                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" 
                                    style="background-image:url('@Url.Content("~/assets/media/avatars/300-3.jpg")')"></div>
                                    <!--end::Photo-->
                                    <!--begin::Person-->
                                    <div class="mb-0">
                                        <!--begin::Name-->
                                        <a href="#" class="text-gray-900 fw-bold text-hover-primary fs-3">Marco Antonio</a>
                                        <!--end::Name-->
                                        <!--begin::Position-->
                                        <div class="text-muted fs-6 fw-semibold mt-1">Web Producer</div>
                                        <!--begin::Position-->
                                    </div>
                                    <!--end::Person-->
                                </div>
                                <!--end::Item-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Button-->
                            <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev">
                                <i class="ki-outline ki-left fs-3x"></i>
                            </button>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next">
                                <i class="ki-outline ki-right fs-3x"></i>
                            </button>
                            <!--end::Button-->
                        </div>
                        <!--end::Slider-->
                    </div>
                    <!--end::Team-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::About card-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->
</div>
<!--end:::Main-->
@section Scripts {
    <script>
        // Initialize counters
        var elements = [].slice.call(document.querySelectorAll('[data-kt-countup="true"]'));
        elements.map(function (element) {
            var options = {};
            var value = element.getAttribute('data-kt-countup-value');
            value = parseFloat(value.replace(/,/g, ""));
            options.startVal = 0;
            options.endVal = value;
            options.duration = 2;
            options.separator = ",";
            options.decimals = 0;

            var countUp = new CountUp(element, value, options);
            countUp.start();
        });
    </script>
}

